<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creat Event</title>
    <link rel="stylesheet" href="/Style.css">
</head>
<body>
<div class="topnav">
    <ul class="navbarUl">
        <a class="active" th:href="@{/}">Home</a>
        <a th:href="@{/createEvent}">Create Event</a>
        <a th:text="${loggedInUser}" th:href="@{/logout}">Logout</a>
    </ul>
</div>
<h1>Create Event</h1>

<form action="/createEvent" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date">
    <br>
    <label for="location">Location:</label>
    <input type="text" name="location" id="location">
    <br>
    <label for="maxPlayers">Max Players:</label>
    <input type="number" name="maxPlayers" id="maxPlayers">
    <br>
    <label for="price">Price:</label>
    <input type="number" name="price" id="price">
    <br>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description">
    <br>
    <label for="imageUrl">Image Url:</label>
    <input type="text" name="imageUrl" id="imageUrl">
    <br>
    <label for="category">Category:</label>
    <input type="text" name="category" id="category">
    <br>
    <input type="submit" value="Create Event"></form>

</body>
</html>