<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
    <link rel="stylesheet" href="/Style.css">
</head>
<body>
<div class="topnav">
<ul class="navbarUl">
    <a class="active" th:href="@{/}">Home</a>
    <a th:href="@{/createEvent}">Create Event</a>
    <a class="logout" th:text="${loggedInUser}" th:href="@{/logout}">Logout</a>
</ul>
</div>

<h1 th:text="${event.getName()}"/>

<div class="event-info">
    <label>Date:</label>
    <span th:text="${event.getDate()}"></span>

    <label>Location:</label>
    <span th:text="${event.getLocation()}"></span>

    <label>Max Players:</label>
    <span th:text="${event.getMaxPlayers()}"></span>

    <label>Price:</label>
    <span th:text="${event.getPrice()}"></span>

    <label>Description:</label>
    <span th:text="${event.getDescription()}"></span>

    <label>Image Url:</label>
    <span th:text="${event.getImageUrl()}"></span>

    <label>Category:</label>
    <span th:text="${event.getCategory()}"></span>

    <label>Owner:</label>
    <span th:text="${event.getCreatorId()}"></span>
</div>
</body>
</html>