<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
    <link rel="stylesheet" href="/Style.css">
</head>
<body>
<div class="topnav">
    <ul class="navbarUl">
        <a class="active" th:href="@{/}">Home</a>
        <a th:href="@{/createEvent}">Create Event</a>
        <a class="logout" th:text="${loggedInUser}" th:href="@{/logout}">Logout</a>
    </ul>
</div>
<h1 th:text="${event.getName()}"/>
<div class="event-info">
    <label>Date:</label>
    <span th:text="${event.getDate()}"></span>
    <label>Location:</label>
    <span th:text="${event.getLocation()}"></span>
    <label>Players / Max</label>
    <span th:text="${numberOfParticipants} + ' / ' + ${event.getMaxPlayers()}"></span>
    <label>Price:</label>
    <span th:text="${event.getPrice()}"></span>
    <label>Description:</label>
    <span th:text="${event.getDescription()}"></span>
    <label>Image Url:</label>
    <span th:text="${event.getImageUrl()}"></span>
    <label>Category:</label>
    <span th:text="${event.getCategory()}"></span>
    <label>Owner:</label>
    <span th:text="${event.getCreatorId()}"></span>
</div>
<div>
    <table class="eventTable" >
        <tr>
            <th>Participants</th>
        </tr>
        <tr th:each="user:${event.getUsers()}">
            <td th:text="${user.getName()}"/>
        </tr>
    </table>

</div>
<form th:action="@{/joinevent}" name="" method="post">
    <input type="hidden" name="eventId" th:value="${event.getId()}"/>
    <button type="submit">Join</button>
</form>
</body>
</html>