<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" href="/Style.css">
</head>
<body>
<h1>Airsoft events</h1>
<ul class="navbarUl">
    <li class="navbarLi"><a th:href="@{/}">Home</a></li>
    <li class="navbarLi"><a th:href="@{/createEvent}">Create Event</a></li>
    <li class="navbarLi"><a th:text="${loggedInUser}" th:href="@{/logout}">Logout</a></li>
</ul>
<article class="allEvents">
    <article class="event" th:each="event:${events}">
        <div class="event-container">
            <a th:href="@{/event/{id}(id=${event.getId()})}"><h2 th:text="${event.getName()}"/></a>
            <p><strong>Date:</strong> <span th:text="${event.getDate()}"/></p>
            <p><strong>Location:</strong> <span th:text="${event.getLocation()}"/></p>
            <p><strong>Max Players:</strong> <span th:text="${event.getMaxPlayers()}"/></p>
            <p><strong>Price:</strong> <span th:text="${event.getPrice()}"/></p>
            <p><strong>Image Url:</strong> <span th:text="${event.getImageUrl()}"/></p>
            <p><strong>Category:</strong> <span th:text="${event.getCategory()}"/></p>
        </div>
    </article>

</article>
</body>
</html>