<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="/Style.css">
    <meta name="viewport" content="width=device-width"/>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<a class="topRightButton" th:href="@{/login}">Login</a>
<h1 class="loginTitle">Airsoft events</h1>
<div class="loginForm">
    <form th:action="@{/register}" th:method="POST">
        <div class="loginFormComponents">
            <input class="textLoginFormComponents" name="username" placeholder="username" required onkeyup='check();'/>
            <input class="textLoginFormComponents" id='password' type="password" name="password" placeholder="password"
                   required onkeyup='check();'/>
            <input class="textLoginFormComponents" id='confirm_password' type="password" name="confirm_password"
                   placeholder="confirm password" required onkeyup='check();'/>
            <span id='message'></span>
            <input class="buttonLoginFormComponent" id='register_button' type="submit" value="register"/>
        </div>
    </form>
</div>
</body>
</html>
<script type="text/javascript">
    var check = function () {
        if (document.getElementById('password').value ===
            document.getElementById('confirm_password').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
            document.getElementById('register_button').hidden = false;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
            document.getElementById('register_button').hidden = true;
        }
    }
</script>